.footer {
   padding: 2rem 0;
   background-color: $grisOscuro;
   margin-bottom: 0;

   .contenido-footer {
      padding-top: 1.5rem;
      display: none;

      @include tablet {
         display: block;
      }
   }

   // .footer {
   //    height: auto;
   // }

   .copyright {
      color: $blanco;
      text-align: center;
   }
}
